#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Ajuste o tamanho e a cor do ícone de enviar mensagem */
button[data-icon="send"] {
  color: #ff00ff; /* Cor desejada */
  font-size: 24px; /* Tamanho desejado */
}

/* Ajuste o tamanho e a cor do ícone de adicionar arquivo */
button[data-icon="attachment"] {
  color: #ff00ff; /* Cor desejada */
  font-size: 24px; /* Tamanho desejado */
}

.my-chat-container {
  background-color: white;
  backdrop-filter: "blur(10px)";
  height: 300px;
}

ul{
  position:absolute;
  top:70%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
  
}
ul li{
  list-style:none;
  width:20px;
  height:20px;
  background:#fff;
  border-radius:50%;
  animation:grow 1.6s ease-in-out infinite;
}
  @keyframes grow
  {
    0% , 40% , 100%
    {
      transform:scale(0.2);
    }
    20%{
       transform:scale(1);

    }
  }

ul li:nth-child(1){
  animation-delay:-1.4s;
  background:#ffff00;
  box-shadow:0 0 50px #ffff00;
  
}
ul li:nth-child(2){
  animation-delay:-1.2s;
  background:#76ff03;
  box-shadow:0 0 50px #76ff03;
  
}
ul li:nth-child(3){
  animation-delay:-1s;
  background:#f06292;
  box-shadow:0 0 50px #f06292;
  
}
ul li:nth-child(4){
  animation-delay:-0.8s;
  background:#4fc3f7;
  box-shadow:0 0 50px #4fc3f7;
  
}
ul li:nth-child(5){
  animation-delay:-0.6s;
  background:#ba68c8;
  box-shadow:0 0 50px #ba68c8;
  
}
ul li:nth-child(6){
  animation-delay:-0.4s;
  background:#f57c00;
  box-shadow:0 0 50px #f57c00;
  
}
ul li:nth-child(7){
  animation-delay:-0.2s;
  background:#673ab7;
  box-shadow:0 0 50px #673ab7;
  
}

.message-container {
  position: relative;
}

.message-content {
  font-Size: '20px';
  padding: "10px";
  margin-Bottom: "10px";
  margin-Top: "10px";
  background-color:"rgba(255, 255, 255, 0.8)";
  border-Radius: "15px";
  color: "black";
  position: 'relative';
  z-Index: 1;
  overflow: hidden;
}

.message-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(50px);
  z-Index: -1;
}